{{ define "main" }}
<div class="cba-form-page">
  <div class="cba-form-card">
    <h1 class="cba-form-card-title">Request Adoption</h1>
    <p>Interested in bringing home one of our bunnies? Fill out the form below and we'll get back to you within 24
      hours. After we connect, you can place a deposit to officially reserve your bunny.</p>
    <p>Not sure yet? Check out our <a href="/bunnies-for-adoption/">available bunnies</a> or <a
        href="/join-waiting-list/">join our waiting list</a> for upcoming litters.</p>
    {{ partial "contact-form.html" (dict
    "subject" "Adoption Request - CBA Rabbitry"
    "showBunny" true
    "hideMessage" true
    "submitLabel" "Submit Adoption Request"
    ) }}
  </div>
</div>
{{ end }}
